Repository Strappazzon/www, changes with the labels that .github/labeler.yml gives for each.
All labels: blog, cicd, config, dependencies, documentation, plugin

.github/labeler.yml:

blog:
  - _blog/**
  - _sass/_blog.scss
  - static/css/blog.scss
  - static/blog/**

cicd:
  - .github/workflows/**

config:
  - .cloudflare/**
  - .vscode/**
  - _config.yml
  - .editorconfig
  - .github/*.yml
  - .editorconfig
  - .gitattributes
  - .gitignore
  - .rubocop.yml
  - frontmatter.json

dependencies:
  - .ruby-version
  - Gemfile
  - Gemfile.lock

documentation:
  - .github/README.md

plugin:
  - _plugins/**

Add `unsafe-inline` to `style-src` CSP directive
  .cloudflare/_headers
Labels: config

Show blog title on blog pages
  _components/layout/header.html
Labels: none

Add plugin for `<mark>` and `<kbd>` tags
  _plugins/kbd_tag.rb
  _plugins/mark_tag.rb
Labels: plugin

Remove age script
  _components/layout/head.html
  index.html
  static/js/age.js
Labels: none

Rewrite contact/keys page
  .cloudflare/_redirects
  _components/cards/samaritan-alt.html
  pages/accounts.html
  pages/contact.md
Labels: config

Add email protection component
  _components/email.html
Labels: none

Rewrite Samaritan cards
  _components/cards/samaritan-alt.html
  _components/cards/samaritan.html
  _data/accounts.yml
Labels: none

Rewrite Projects page
  _components/cards/machine.html
  _data/projects.yml
  pages/projects.html
Labels: none

Rewrite Terminal component
  _components/terminal.html
Labels: none

Update homepage
  index.html
Labels: none

Replace fonts
  .github/README.md
  LICENSE-FONTS.txt
  static/webfonts/Acens.woff2
  static/webfonts/Barlow_Semi_Condensed-Bold.woff2
  static/webfonts/Barlow_Semi_Condensed.woff2
  static/webfonts/DejaVuSansMono.woff2
  static/webfonts/Inconsolata.woff2
  static/webfonts/Ubuntu-Mono.woff2
  static/webfonts/magdacleanmono-regular.woff2
Labels: documentation

Remove `shrink-to-fit` property from meta viewport attribute
  _components/layout/head.html
Labels: none

Remove trailing dot
  _templates/pages.html
Labels: none

Add deviant icon used on some components
  .github/README.md
  static/img/icons/deviant.svg
Labels: documentation
