Repository Strappazzon/www, changes with the labels that .github/labeler.yml gives for each.
All labels: blog, cicd, config, dependencies, documentation, plugin

.github/labeler.yml:

blog:
  - "_blog/**"
  - "_sass/pages/_blog.scss"
  - "static/css/blog.scss"
  - "static/blog/**"

cicd:
  - ".github/workflows/**"

config:
  - ".cloudflare/**"
  - ".github/*.yml"
  - ".vscode/**"
  - "_config.yml"
  - ".editorconfig"
  - ".gitattributes"
  - ".gitignore"
  - "**/.markdownlint.yml"
  - "frontmatter.json"

dependencies:
  - ".nvmrc"
  - ".rubocop.yml"
  - ".tool-versions"
  - ".stylelintignore"
  - ".stylelintrc.yml"
  - "Gemfile"
  - "Gemfile.lock"
  - "package.json"
  - "package-lock.json"

documentation:
  - ".github/CONTRIBUTING.md"
  - "**/README.md"
  - "SUPPORT.md"

plugin:
  - "_plugins/**"

deps(Ruby): Add `jekyll-terser` gem
  Gemfile
  Gemfile.lock
  _config.yml
Labels: config, dependencies

deps(Ruby): Update dependencies
  Gemfile.lock
Labels: dependencies

Add `jekyll-terser` fork to projects page
  _data/projects.yml
Labels: none

Make top artists a list instead of a flex container
  _components/cards/samaritan-artists.html
  _sass/components/cards/_samaritan.scss
Labels: none

Add last.fm links to artists
  _components/cards/samaritan-artists.html
  _sass/components/cards/_samaritan.scss
Labels: none

Remove comments
  _data/donations.yml
  pages/donate.md
Labels: none

Update projects page description
  pages/projects.html
Labels: none

Add `mkdocs-material-midnight` to projects
  _data/projects.yml
Labels: none
