Repository Strappazzon/www, changes with the labels that .github/labeler.yml gives for each.
All labels: blog, cicd, config, dependencies, documentation, plugin

.github/labeler.yml:

blog:
  - _blog/**
  - _sass/pages/_blog.scss
  - static/css/blog.scss
  - static/blog/**

cicd:
  - .github/workflows/**

config:
  - .cloudflare/**
  - .github/*.yml
  - .vscode/**
  - _config.yml
  - .editorconfig
  - .gitattributes
  - .gitignore
  - "**/.markdownlint.yml"
  - frontmatter.json

dependencies:
  - .nvmrc
  - .rubocop.yml
  - .ruby-version
  - .stylelintignore
  - .stylelintrc.yml
  - Gemfile
  - Gemfile.lock
  - package.json
  - package-lock.json

documentation:
  - "**/README.md"
  - SUPPORT.md

plugin:
  - _plugins/**

Update repository structure
  .github/CONTRIBUTING.md
Labels: none

Update workflows
  .github/workflows/build-dev.yml
  .github/workflows/build-pr.yml
  .github/workflows/build-prod.yml
Labels: cicd

Format JS
  .editorconfig
  static/js/typewriter.js
Labels: config

Update npm dependencies
  package-lock.json
Labels: dependencies

Format Liquid
  404.html
  _templates/blog.html
  _templates/home.html
  _templates/pages.html
  index.html
  pages/blog.html
  pages/projects.html
Labels: none

Add VS Code settings for JSON and JSONC files
  .vscode/settings.json
Labels: config

Sort JSON
  .vscode/settings.json
  frontmatter.json
Labels: config

Ignore Stylelint cache file
  .gitignore
  .vscode/settings.json
Labels: config

Update bootstrap script
  bin/bootstrap
Labels: none

Add stylelint script
  bin/scss_fmt
Labels: none

Mention NodeJS in Contributing Guidelines
  .github/CONTRIBUTING.md
Labels: none

Use bold text instead of heading
  .github/README.md
Labels: documentation

Add Branching section to Contributing Guidelines
  .github/CONTRIBUTING.md
Labels: none

Change stylelint script in `package.json`
  package.json
Labels: dependencies

Update node version in `.nvmrc`
  .nvmrc
Labels: dependencies
