Repository Strappazzon/www, changes with the labels that .github/labeler.yml gives for each.
All labels: blog, cicd, config, dependencies, documentation, plugin

deps: Update Ruby dependencies
  Gemfile.lock
Labels: dependencies

deps: Update `webrick` gem to 1.8.2
  Gemfile.lock
Labels: dependencies

config: Replace `chrome 109` with `chrome 126`
  _config.yml
Labels: config

Add 2024 top artists
  _data/music.yml
  static/img/pages/music/lindsey-stirling.jpg
Labels: none

deps: Update Ruby dependencies
  Gemfile.lock
Labels: dependencies

deps: Update npm packages
  .tool-versions
  package-lock.json
Labels: dependencies

style: Format SCSS
  _sass/base/_base.scss
  _sass/components/_terminal.scss
  _sass/components/cards/_samaritan.scss
Labels: none

deps: Update Ruby version
  .github/workflows/build-dev.yml
  .github/workflows/build-pr.yml
  .github/workflows/build-prod.yml
  .github/workflows/pr-lint.yml
  .tool-versions
Labels: cicd, dependencies

deps: Update Ruby version and dependencies
  .github/workflows/build-dev.yml
  .github/workflows/build-pr.yml
  .github/workflows/build-prod.yml
  .github/workflows/pr-lint.yml
  .tool-versions
  Gemfile
  Gemfile.lock
Labels: cicd, dependencies

Update PGP and SSH keys
  .cloudflare/_redirects
  _components/terminal.html
  pages/contact.md
  static/pgp/strappazzon_a.asc
  static/pgp/strappazzon_pm.asc
Labels: config

Add new PGP key
  _components/terminal.html
  static/pgp/strappazzon_im.asc
Labels: none

Resign `security.txt`
  .github/workflows/reminder-securitytxt.yml
  .well-known/security.txt
Labels: cicd

Update contact email address
  _components/cards/samaritan.html
  pages/contact.md
Labels: none

Remove references to Twitter
  _components/layout/head.html
  _data/accounts.yml
Labels: none

Fix missing descriptions inside `<meta>` tags
  _components/layout/head.html
Labels: none

Update donation options
  _data/donations.yml
Labels: none

Remove Revolut link in `package.json`
  package.json
Labels: dependencies

deps: Update all dependencies
  .github/workflows/build-dev.yml
  .github/workflows/build-pr.yml
  .github/workflows/build-prod.yml
  .github/workflows/pr-assign.yml
  .github/workflows/pr-lint.yml
  .tool-versions
  Gemfile
  Gemfile.lock
  package-lock.json
  package.json
Labels: cicd, dependencies

Fix Stylelint errors
  _sass/base/_base.scss
  _sass/components/_terminal.scss
  _sass/components/cards/_machine.scss
  _sass/pages/_blog.scss
Labels: blog

a11y: More accessible email protection
  _components/cards/samaritan.html
  _components/email.html
  _data/meta.yml
  _sass/base/_base.scss
  _sass/components/_email.scss
  _sass/components/cards/_samaritan.scss
  static/css/home.scss
  static/css/pages.scss
Labels: none

Add `mint-notag` to projects page
  _data/projects.yml
Labels: none

Comments
  _plugins/anchors.rb
Labels: plugin

Update ogimage PSDs
  static/psd/ogimage.psd
  static/psd/ogimage_blog.psd
Labels: none

cicd: Ignore PSD files
  .github/workflows/build-dev.yml
  .github/workflows/build-pr.yml
  .github/workflows/build-prod.yml
Labels: cicd

deps: Update Ruby dependencies
  Gemfile.lock
Labels: dependencies

Update project: Tor Exit Router Page
  _data/projects.yml
Labels: none

Plugin html_tags: Use commit hash instead of master branch in URLs
  _plugins/html_tags.rb
Labels: plugin

Plugin admonitions: Render GFM alerts
  _plugins/admonitions.rb
  _sass/components/admonitions/_danger.scss
  _sass/components/admonitions/_info.scss
  _sass/components/admonitions/_warning.scss
Labels: plugin

fix: Site generating Markdown files instead of HTML
  _plugins/admonitions.rb
Labels: plugin

Plugin admonitions: Use space instead of newline
  _plugins/admonitions.rb
Labels: plugin

Formatting
  _components/email.html
Labels: none

config: Remove VS Code snippets
  .vscode/components.code-snippets
Labels: config

deps: Update Ruby dependencies
  Gemfile.lock
Labels: dependencies

Use `<span>` instead of `<a>`
  _components/email.html
  _sass/components/_email.scss
Labels: none

config: Update VS Code settings
  .vscode/settings.json
Labels: config

Comments
  _plugins/anchors.rb
Labels: plugin

Change projects order
  _data/projects.yml
Labels: none

Add Buy Me A Coffee as a donation option
  _data/donations.yml
Labels: none

Remove bottom margin
  _sass/pages/_music.scss
Labels: none

Add alt text to top artist image
  _components/cards/samaritan-profile.html
Labels: none

.github/labeler.yml:

blog:
  - "_blog/**"
  - "_sass/pages/_blog.scss"
  - "static/css/blog.scss"
  - "static/blog/**"

cicd:
  - ".github/workflows/**"

config:
  - ".cloudflare/**"
  - ".github/*.yml"
  - ".vscode/**"
  - "_config.yml"
  - ".editorconfig"
  - ".gitattributes"
  - ".gitignore"
  - "**/.markdownlint.yml"
  - "frontmatter.json"

dependencies:
  - ".nvmrc"
  - ".rubocop.yml"
  - ".tool-versions"
  - ".stylelintignore"
  - ".stylelintrc.yml"
  - "Gemfile"
  - "Gemfile.lock"
  - "package.json"
  - "package-lock.json"

documentation:
  - ".github/CONTRIBUTING.md"
  - "**/README.md"
  - "SUPPORT.md"

plugin:
  - "_plugins/**"
