Repository Strappazzon/www, changes with the labels that .github/labeler.yml gives for each.
All labels: blog, cicd, config, dependencies, documentation, plugin

workflows: Add `reviewdog/action-rubocop`
  .github/workflows/pr-lint-ruby.yml
Labels: cicd

workflows: Add `toshimaru/auto-author-assign`
  .github/workflows/pr-assign.yml
Labels: cicd

workflows: Small changes
  .github/workflows/pr-labels.yml
  .github/workflows/pr-lint-ruby.yml
Labels: cicd

Actions: Don't build on Pull Requests
  .github/workflows/build-prod.yml
Labels: cicd

script(bootstrap): Install bundler if not installed
  bin/bootstrap
Labels: none

workflows: Build website on PRs against the master branch
  .github/workflows/build-pr.yml
Labels: cicd

docs: Add Contribution Guidelines
  .github/CONTRIBUTING.md
Labels: none

docs: Update README
  .github/README.md
  _config.yml
Labels: config, documentation

docs: Add SUPPORT.md
  .github/workflows/build-dev.yml
  .github/workflows/build-pr.yml
  .github/workflows/build-prod.yml
  SUPPORT.md
  _config.yml
Labels: cicd, config

config: remove `chrome=1` from `X-UA-Compatible` header
  .cloudflare/_headers
Labels: config

Encode URL
  _components/cards/samaritan.html
Labels: none

Use CSS instead of `width` or `height` HTML attributes
  _components/layout/header.html
  _sass/components/layout/header.scss
Labels: none

Remove ids from terminal
  _components/terminal.html
Labels: none

EditorConfig: Fix scripts style
  .editorconfig
Labels: config

script(html_proofer): Remove `BUNDLED_WITH` environment variable
  bin/html_proofer
Labels: none

vscode: Add terminal profile and change Liquid engine
  .vscode/settings.json
Labels: config

docs: Remove Security Headers badge
  .github/README.md
Labels: documentation

Update dependencies
  Gemfile.lock
Labels: dependencies

Update config files
  .gitattributes
  .gitignore
  .markdownlint.yaml
  .vscode/settings.json
  _config.yml
  frontmatter.json
Labels: config

Add CODEOWNERS file
  .github/CODEOWNERS
Labels: none

Add space
  _components/layout/header.html
Labels: none

Cache busting
  _components/layout/head.html
Labels: none

Separate licenses
  LICENSE-CODE.txt
  LICENSE-CONTENT.txt
Labels: none

Update README
  .github/README.md
Labels: documentation

Update VS Code recommendations
  .vscode/extensions.json
Labels: config

Remove unused settings
  .vscode/settings.json
Labels: config

Update Jekyll settings for license files
  _config.yml
Labels: config

Remove "Go to Top" button from homepage
  _components/layout/head.html
  _templates/home.html
Labels: none

Use `hidden` atribute instead of class and rename button id
  404.html
  _templates/blog.html
  _templates/pages.html
  static/js/scroll.js
  static/js/typewriter.js
Labels: none

Uppercase
  _templates/blog.html
  _templates/home.html
  _templates/pages.html
Labels: none

Update Markdown Linter settings
  .markdownlint.yaml
Labels: none

Remove "Go to Top" button
  _components/layout/head.html
  _templates/blog.html
  _templates/pages.html
  static/img/btn_samaritan_indicator.png
  static/js/scroll.js
Labels: none

Remove custom cursors
  static/img/cursor.png
  static/img/cursor_hand.png
Labels: none

Allow multiline quotes
  _components/quote.html
Labels: none

Add `<video>` component
  _components/video.html
Labels: none

Wording
  _templates/blog.html
Labels: none

Update semantics
  _templates/blog.html
  _templates/pages.html
Labels: none

Change list style
  .github/CONTRIBUTING.md
Labels: none

Update Markdown Lint config
  .markdownlint.yaml
  .markdownlint.yml
Labels: none

Update Jekyll config
  _config.yml
Labels: config

.github/labeler.yml:

blog:
  - _blog/**
  - _sass/_blog.scss
  - static/css/blog.scss
  - static/blog/**

cicd:
  - .github/workflows/**

config:
  - .cloudflare/**
  - .vscode/**
  - _config.yml
  - .editorconfig
  - .github/*.yml
  - .editorconfig
  - .gitattributes
  - .gitignore
  - .rubocop.yml
  - frontmatter.json

dependencies:
  - .ruby-version
  - Gemfile
  - Gemfile.lock

documentation:
  - .github/README.md

plugin:
  - _plugins/**
