Repository Strappazzon/www, changes with the labels that .github/labeler.yml gives for each.
All labels: blog, cicd, config, dependencies, documentation, plugin

deps: Update Ruby dependencies
  .rubocop.yml
  Gemfile
  Gemfile.lock
Labels: dependencies

deps: Update NodeJS dependencies
  .stylelintrc.yml
  .tool-versions
  _sass/components/_email.scss
  package-lock.json
  package.json
Labels: dependencies

Add projects pages
  .gitmodules
  _data/projects.yml
Labels: none

Fix `tor-exit-page` URL
  _data/projects.yml
Labels: none

Include projects in sitemap
  sitemap.xml
Labels: none

Add footer decoration to Samaritan title card
  .stylelintrc.yml
  _components/layout/title-samaritan.html
  _sass/components/cards/_samaritan.scss
Labels: dependencies

deps: Update Ruby version
  .tool-versions
Labels: dependencies

Comment
  _sass/components/cards/_samaritan.scss
Labels: none

Take footer content from Front Matter instead of component
  _components/layout/pages/music/footer.html
  _templates/pages.html
  pages/music.html
Labels: none

cicd: Update workflows
  .github/workflows/build-dev.yml
  .github/workflows/build-pr.yml
  .github/workflows/build-prod.yml
Labels: cicd

deps(ruby): Update dependencies
  Gemfile.lock
Labels: dependencies

deps(ruby): Unpin `sass-embedded`
  Gemfile
  Gemfile.lock
Labels: dependencies

Use `@use` intead of `@import`
  _sass/abstracts/_colors.scss
  _sass/abstracts/_functions.scss
  _sass/abstracts/_mixins.scss
  _sass/abstracts/_placeholders.scss
  _sass/base/_animations.scss
  _sass/base/_base.scss
  _sass/components/_index.scss
  _sass/components/_terminal.scss
  _sass/components/admonitions/_index.scss
  _sass/components/cards/_index.scss
  _sass/components/cards/_machine.scss
  _sass/components/cards/_samaritan.scss
  _sass/layout/_header.scss
  _sass/pages/_404.scss
  _sass/pages/_blog.scss
  static/css/404.scss
  static/css/blog.scss
  static/css/common.scss
  static/css/home.scss
  static/css/pages.scss
  static/css/vendors.scss
Labels: blog

Top artists 2025
  _data/music.yml
  static/img/pages/music/mothica.jpg
Labels: none

Update `security.txt` signature
  .well-known/security.txt
Labels: none

deps: Update Ruby and Node dependencies
  Gemfile.lock
  package-lock.json
Labels: dependencies

deps: Update Ruby dependencies
  Gemfile.lock
Labels: dependencies

deps(ruby): Update dependencies
  .tool-versions
  Gemfile
  Gemfile.lock
Labels: dependencies

deps(nodejs): Update dependencies
  .stylelintrc.yml
  .tool-versions
  _sass/base/_base.scss
  _sass/components/cards/_samaritan.scss
  _sass/pages/_blog.scss
  package-lock.json
  package.json
Labels: blog, dependencies

deps(cicd): Update dependencies
  .github/workflows/build-dev.yml
  .github/workflows/build-pr.yml
  .github/workflows/build-prod.yml
  .github/workflows/pr-assign.yml
  .github/workflows/pr-labels.yml
  .github/workflows/pr-lint.yml
Labels: cicd

Update projects
  _data/projects.yml
Labels: none

deps(nodejs): Add `@double-great/stylelint-a11y` Stylelint plugin
  .github/workflows/pr-lint.yml
  .stylelintrc.yml
  _sass/base/_base.scss
  package-lock.json
  package.json
Labels: cicd, dependencies

Make root folder a collection
  .github/CONTRIBUTING.md
  .jekyll.yml
  _components/layout/head.html
  _components/layout/header.html
  _root/.well-known/appspecific/com.chrome.devtools.json
  _root/.well-known/security.txt
  _root/404.md
  _root/favicon.ico
  _root/feed.xml
  _root/index.md
  _root/robots.txt
  _root/sitemap.xml
Labels: config, documentation

Fix empty blog metadata
  _root/feed.xml
Labels: none

plugin(anchors): Add option to truncate URL fragment
  .rubocop.yml
  _plugins/anchors.rb
Labels: dependencies, plugin

config(vscode): Update JS/TS settings
  .vscode/settings.json
Labels: config

deps: Update all dependencies
  Gemfile.lock
  package-lock.json
Labels: dependencies

config(nodejs): Remove unnecessary properties
  package.json
Labels: dependencies

deps(nodejs): Add ESLint
  .gitattributes
  .vscode/extensions.json
  .vscode/settings.json
  eslint.config.mjs
  package-lock.json
  package.json
Labels: config, dependencies

config(stylelint): Add new rules
  .stylelintrc.yml
Labels: dependencies

Format and refactor JS
  static/js/clipboard.js
  static/js/lightbox.js
  static/js/typewriter.js
Labels: none

Add cooldown to COPY button and improve a11y
  _plugins/md_html.rb
  static/js/clipboard.js
Labels: plugin

Add site name to 404 title
  _templates/404.html
Labels: none

config(stylelint): Remove `relative-selector-nesting-notation` rule
  .stylelintrc.yml
Labels: dependencies

Add ESLint script
  bin/js_fmt
Labels: none

docs: Add JS to Code Style and Conventions in Contributing guidelines
  .github/CONTRIBUTING.md
Labels: documentation

cicd: Add ESLint step
  .github/workflows/pr-lint.yml
Labels: cicd

deps(ruby): Update dependencies
  Gemfile.lock
Labels: dependencies

deps(ruby): Update Ruby dependencies
  .rubocop.yml
  Gemfile
  Gemfile.lock
Labels: dependencies

config(jekyll): Exclude ESLint config file from build output
  .jekyll.yml
Labels: config

.github/labeler.yml:

blog:
  - "_blog/**"
  - "_sass/pages/_blog.scss"
  - "static/css/blog.scss"
  - "static/blog/**"

cicd:
  - ".github/workflows/**"

config:
  - ".github/*.yml"
  - ".vscode/**"
  - ".editorconfig"
  - ".gitattributes"
  - ".gitignore"
  - ".jekyll.yml"
  - "**/.markdownlint.yml"
  - "frontmatter.json"

dependencies:
  - ".rubocop.yml"
  - ".stylelintignore"
  - ".stylelintrc.yml"
  - ".tool-versions"
  - "Gemfile"
  - "Gemfile.lock"
  - "package.json"
  - "package-lock.json"

documentation:
  - ".github/CONTRIBUTING.md"
  - "**/README.md"
  - "SUPPORT.md"

plugin:
  - "_plugins/**"
