Repository Strappazzon/www, changes with the labels that .github/labeler.yml gives for each.
All labels: blog, cicd, config, dependencies, documentation, plugin

docs: Fix typo
  .github/CONTRIBUTING.md
Labels: documentation

docs: Rename section
  .github/CONTRIBUTING.md
Labels: documentation

Update Structured Data
  _components/layout/blog/footer.html
  _components/layout/head.html
  _templates/blog.html
  _templates/home.html
  _templates/pages.html
Labels: none

Add Mastodon and Reddit accounts
  _data/accounts.yml
Labels: none

deps(ruby): Update dependencies
  Gemfile.lock
Labels: dependencies

deps(ruby): Pin to patch version
  Gemfile
  Gemfile.lock
Labels: dependencies

deps(ruby): Update dependencies
  Gemfile.lock
Labels: dependencies

Add TD1 Builder to projects
  _data/projects.yml
Labels: none

.github/labeler.yml:

blog:
  - "_blog/**"
  - "_sass/pages/_blog.scss"
  - "static/css/blog.scss"
  - "static/blog/**"

cicd:
  - ".github/workflows/**"

config:
  - ".github/*.yml"
  - ".vscode/**"
  - ".editorconfig"
  - ".gitattributes"
  - ".gitignore"
  - ".jekyll.yml"
  - "**/.markdownlint.yml"
  - "frontmatter.json"

dependencies:
  - ".rubocop.yml"
  - ".stylelintignore"
  - ".stylelintrc.yml"
  - ".tool-versions"
  - "Gemfile"
  - "Gemfile.lock"
  - "package.json"
  - "package-lock.json"

documentation:
  - ".github/CONTRIBUTING.md"
  - "**/README.md"
  - "SUPPORT.md"

plugin:
  - "_plugins/**"
