Repository Strappazzon/www, changes with the labels that .github/labeler.yml gives for each.
All labels: blog, cicd, config, dependencies, documentation, plugin

.github/labeler.yml:

blog:
  - "_blog/**"
  - "_sass/pages/_blog.scss"
  - "static/css/blog.scss"
  - "static/blog/**"

cicd:
  - ".github/workflows/**"

config:
  - ".cloudflare/**"
  - ".github/*.yml"
  - ".vscode/**"
  - "_config.yml"
  - ".editorconfig"
  - ".gitattributes"
  - ".gitignore"
  - "**/.markdownlint.yml"
  - "frontmatter.json"

dependencies:
  - ".nvmrc"
  - ".rubocop.yml"
  - ".tool-versions"
  - ".stylelintignore"
  - ".stylelintrc.yml"
  - "Gemfile"
  - "Gemfile.lock"
  - "package.json"
  - "package-lock.json"

documentation:
  - ".github/CONTRIBUTING.md"
  - "**/README.md"
  - "SUPPORT.md"

plugin:
  - "_plugins/**"

Fix missing email address
  _components/email.html
  pages/contact.md
Labels: none

Move some data to main config file
  _components/cards/samaritan.html
  _components/email.html
  _components/layout/head.html
  _components/layout/header.html
  _components/terminal.html
  _config.yml
  _data/blog.yml
  _data/meta.yml
  pages/privacy.md
Labels: config

Style buttons
  _sass/base/_base.scss
Labels: none

html_tags plugin: Replace Markdown image with title with `<figure>`
  .vscode/components.code-snippets
  _plugins/html_tags.rb
Labels: config, plugin

Disable warning about bare URLs
  .vscode/components.code-snippets
Labels: config

Update donation page description
  pages/donate.md
Labels: none

docs: Rewrite license text
  .github/README.md
Labels: documentation

html_tags plugin: Format comment
  _plugins/html_tags.rb
Labels: plugin

Fix paragraphs margin when inside admonitions
  _sass/components/admonitions/_index.scss
Labels: none

Add outdated_filter Liquid filter
  _components/outdated.html
  _plugins/outdated_filter.rb
  _sass/components/admonitions/_warning.scss
  _templates/blog.html
Labels: plugin

Add jekyll-spoiler to projects
  .cloudflare/_redirects
  _data/projects.yml
Labels: config

Change container size
  _templates/home.html
  _templates/pages.html
Labels: none

Change background opacity
  _sass/base/_base.scss
Labels: none

Change Samaritan alt card style
  _components/cards/samaritan-alt.html
  _sass/components/cards/_samaritan.scss
Labels: none

Unhide music page
  _data/nav.yml
Labels: none

html_tags plugin: Add support for titles in code blocks
  _plugins/html_tags.rb
  _sass/pages/_blog.scss
  _sass/themes/_syntax.scss
Labels: blog, plugin

Change GHOST Buster status to feature-complete
  _data/projects.yml
Labels: none

Update ogimage
  _components/layout/head.html
  static/img/ogimage.jpg
  static/img/ogimage.png
  static/img/ogimage_blog.jpg
  static/img/ogimage_blog.png
  static/psd/ogimage.psd
  static/psd/ogimage_blog.psd
Labels: none

Update backgrounds
  .github/README.md
  _sass/base/_base.scss
  static/img/bg_machine.avif
  static/img/bg_machine.jpg
  static/img/bg_machine.png
  static/img/bg_poi.avif
  static/img/bg_poi.jpg
  static/img/bg_poi.webp
Labels: documentation

Change header border color
  _sass/layout/_header.scss
Labels: none

Reduce size of backgrounds
  .gitattributes
  static/img/bg_poi.avif
  static/img/bg_poi.jpg
  static/img/bg_poi.webp
Labels: config

Add empty Chrome DevTools settings
  .well-known/appspecific/com.chrome.devtools.json
Labels: none

Move assignment
  _components/layout/head.html
Labels: none

Change header background color
  _sass/layout/_header.scss
Labels: none

Refactor components
  .vscode/components.code-snippets
  _components/cards/machine-post.html
  _components/cards/machine-project.html
  _components/cards/samaritan-about.html
  _components/cards/samaritan-artists.html
  _components/cards/samaritan-nav.html
  _components/email.html
  _components/figure.html
  _components/layout/pages/music/footer.html
  _components/layout/pages/samaritan-title.html
  _components/layout/title-samaritan.html
  _components/layout/title.html
  _components/outdated.html
  _components/quote.html
  _components/reading-time.html
  _components/video.html
  _sass/components/admonitions/_warning.scss
  _sass/components/cards/_machine.scss
  _sass/components/cards/_samaritan.scss
  _templates/music.html
  index.md
  pages/blog.html
  pages/music.html
  pages/projects.html
Labels: config

Add TOC to blog posts
  Gemfile
  Gemfile.lock
  _config.yml
  _sass/pages/_blog.scss
  _templates/blog.html
Labels: blog, config, dependencies

html_tags plugin: Remove trailing spaces from image URL
  _plugins/html_tags.rb
Labels: plugin

md_html plugin: Rename from `html_tags`
  _plugins/md_html.rb
Labels: plugin

Add hero support to blog posts
  _sass/pages/_blog.scss
  _templates/blog.html
Labels: blog

Add clipboard button to code blocks
  _components/layout/head.html
  _plugins/md_html.rb
  _sass/base/_base.scss
  _sass/pages/_blog.scss
  static/js/clipboard.js
Labels: blog, plugin

Add lightbox support to blog posts
  .github/README.md
  .vscode/settings.json
  _components/layout/head.html
  _sass/pages/_blog.scss
  _sass/vendors/_bootstrap-modal.scss
  frontmatter.json
  static/css/vendors.scss
  static/js/lightbox.js
  static/js/vendors/bootstrap.bundle.min.js
  static/js/vendors/rat.lightbox.min.js
Labels: blog, config, documentation

Use very light gray instead of white for background
  _sass/abstracts/_colors.scss
Labels: none

Refactoring
  _sass/components/_lightbox.scss
  _sass/pages/_blog.scss
  _sass/vendors/_bootstrap-carousel.scss
  _sass/vendors/_bootstrap-modal.scss
  static/css/blog.scss
  static/css/vendors.scss
  static/js/clipboard.js
Labels: blog

Use same width for `ol` numbers
  _sass/pages/_blog.scss
Labels: blog

Add font styles to `<button>` elements
  _sass/base/_base.scss
  _sass/pages/_blog.scss
Labels: blog

Update artists image
  .github/README.md
  static/img/pages/music/conquer-divide.jpg
  static/img/pages/music/starset.jpg
Labels: documentation

Add support for Samaritan header in `pages` layout
  _components/layout/title-samaritan.html
  _sass/components/cards/_samaritan.scss
  _templates/pages.html
Labels: none

Use `pages` layout on music page
  _sass/pages/_music.scss
  _sass/pages/_pages.scss
  _templates/music.html
  _templates/pages.html
  pages/music.html
  static/css/music.scss
Labels: none

Use zoom cursor on lightbox images and modals
  _sass/components/_lightbox.scss
Labels: none

docs: Add third party section under Licensing
  .github/README.md
Labels: documentation
